<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css_temp/style.css' %}">
    <title></title>
</head>
<body>

    <header>
        <h1>Blog</h1>
    </header>

    <nav>
    <a href="/">Home</a>
    <a href="/menu/">Menü</a>
    <a href="/party_services/">Partyservice</a>
    <a href="/gallery/">Galerie</a>
    <a href="/blogs/">Blog</a>
</nav>

    {% for blog in blogs %}
        <div id="blog">
            <h2>{{ blog.title }}</h2>

            {% if blog.media_file.url|lower|slice:"-4:" == '.jpg' or blog.media_file.url|lower|slice:"-5:" == '.jpeg' or blog.media_file.url|lower|slice:"-4:" == '.png' or blog.media_file.url|lower|slice:"-4:" == '.gif' %}
                <img src="{{ blog.media_file.url }}" alt="{{ blog.title }}">
            {% elif blog.media_file.url|lower|slice:"-4:" == '.mp4' or blog.media_file.url|lower|slice:"-4:" == '.mov' or blog.media_file.url|lower|slice:"-4:" == '.avi' %}
                <video controls>
                    <source src="{{ blog.media_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            {% else %}
                <p>Unsupported file type</p>
            {% endif %}

            <p>{{ blog.text }}</p>
        </div>
    {% endfor %}
</body>
</html>
